<div class="product-register-container">
  <div class="product-register-card">
    <h1>Actualizar Producto</h1>
    <p>Por favor, completa el formulario para actualizar los detalles del producto.</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <!-- Campo para ID del Producto -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-id-card"></i>
        </span>
        <input id="productId" type="text" pInputText formControlName="productId" placeholder="ID del Producto" />
      </div>
      <div *ngIf="updateForm.controls['productId'].invalid && updateForm.controls['productId'].touched" class="error">
        El ID del producto es requerido.
      </div>

      <!-- Campo para nuevo nombre del producto -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-tag"></i>
        </span>
        <input id="NameProduct" type="text" pInputText formControlName="NameProduct" placeholder="Nuevo Nombre del Producto" />
      </div>
      <div *ngIf="updateForm.controls['NameProduct'].invalid && updateForm.controls['NameProduct'].touched" class="error">
        El nombre del producto es requerido.
      </div>

      <!-- Campo para nuevo precio de compra -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-money-bill"></i>
        </span>
        <input id="ProductPriceCompra" type="number" pInputText formControlName="ProductPriceCompra" placeholder="Precio de Compra" />
      </div>
      <div *ngIf="updateForm.controls['ProductPriceCompra'].invalid && updateForm.controls['ProductPriceCompra'].touched" class="error">
        El precio de compra es requerido.
      </div>

      <!-- Campo para cantidad -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-box"></i>
        </span>
        <input id="Cantidad" type="number" pInputText formControlName="Cantidad" placeholder="Cantidad" />
      </div>
      <div *ngIf="updateForm.controls['Cantidad'].invalid && updateForm.controls['Cantidad'].touched" class="error">
        La cantidad es requerida.
      </div>

      <!-- Campo para nuevo precio de venta -->
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-dollar"></i>
        </span>
        <input id="ProductPriceVenta" type="number" pInputText formControlName="ProductPriceVenta" placeholder="Precio de Venta" />
      </div>
      <div *ngIf="updateForm.controls['ProductPriceVenta'].invalid && updateForm.controls['ProductPriceVenta'].touched" class="error">
        El precio de venta es requerido.
      </div>

      <!-- Botón para actualizar -->
      <button pButton type="submit" label="Actualizar Producto" class="p-button-rounded p-button-secondary"></button>
    </form>

    <!-- Mensajes de éxito o error -->
    <div class="p-mt-3">
      <p-message *ngIf="succesMessage" severity="success" text="{{ succesMessage }}"></p-message>
      <p-message *ngIf="errorMessage" severity="error" text="{{ errorMessage }}"></p-message>
    </div>
  </div>
</div>
