USE [Products]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/12/2024 6:50:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NameProduct] [varchar](50) NOT NULL,
	[ProductPriceCompra] [varchar](50) NOT NULL,
	[Cantidad] [varchar](50) NOT NULL,
	[ProductPriceVenta] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [NameProduct], [ProductPriceCompra], [Cantidad], [ProductPriceVenta]) VALUES (1, N'laptop', N'2500000', N'5', N'3000000')
INSERT [dbo].[Products] ([id], [NameProduct], [ProductPriceCompra], [Cantidad], [ProductPriceVenta]) VALUES (2, N'tablet', N'1200000', N'7', N'1500000')
INSERT [dbo].[Products] ([id], [NameProduct], [ProductPriceCompra], [Cantidad], [ProductPriceVenta]) VALUES (3, N'smartwatch', N'500000', N'10', N'800000')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
