@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://img.freepik.com/vector-gratis/fondo-negro-degradado-texturas-doradas_52683-76896.jpg?t=st=1733455434~exp=1733459034~hmac=f135f3d5790ad37051b9a396fd4c0b7a5a0f16d62c297072bf44cd35b95009ad&w=996'); 
  background-size: cover;
  background-position: center;
  font-family: 'Playfair Display', serif;
}

.login-card {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 550px;
  color: #fff;
}

.login-card h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: gold;
}

.login-card p {
  margin-bottom: 2rem;
  color: #ccc;
}

.p-inputgroup {
  margin-bottom: 1.5rem;
}

.p-inputgroup-addon {
  background-color: gold;
  border: none;
  color: black;
}

button {
  width: 100%;
  font-weight: bold;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
