.product-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1535px;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-negro-degradado-texturas-doradas_52683-76896.jpg?t=st=1733455434~exp=1733459034~hmac=f135f3d5790ad37051b9a396fd4c0b7a5a0f16d62c297072bf44cd35b95009ad&w=996');
    background-size: cover;
    background-position: center;
    font-family: 'Playfair Display', serif;
}

.product-register-card {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 550px;
    color: #fff;
}

.product-register-card h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: gold;
}

.product-register-card p {
    margin-bottom: 2rem;
    color: #ccc;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff !important;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.2s;
}

button:hover {
    opacity: 0.9;
}

button:active {
    transform: scale(0.98);
}

.p-button-rounded {
    border-radius: 20px;
}

.p-button-danger {
    background-color: #f9c622;
}

.p-button-warning {
    background-color: #f9c622;
}

.p-button-success {
    background-color: #f9c622;
}

.p-button-info {
    background-color: #f9c622;
}

.p-button-primary {
    background-color: #f9c622;
}

.p-button-help {
    background-color: #f9c622;
}

button i {
    font-size: 1.2rem;
}
