<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My First WEb</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
  <h2 class="titulos">titulo guia 2</h2>
<p class="parrafo">parrafo 1: Desarrollo de la guia 2, parte 1</p>
<p class="parrafo2"> segundo parrafo</p>
<ul> 
    <li><a href="https://www.fortnite.com/">fortnite</a></li>
    <li><a href="https://www.youtube.com/">youtube</a></li>
    <li><a href="https://open.spotify.com/">spotify</a></li>    
</ul>
<table border="1">
  <tr class="encabezado">
      <th>Productos</th>
      <th>Existencias</th>
      <th>Valor</th>
  </tr>
  <tr class="fila1-3">
    <td >iphone</td>
    <td >100</td>
    <td >$ 2.500.000</td>
  </tr>
  <tr class="fila2">
    <td >Monitor</td>
    <td >100</td>
    <td >$ 850.000</td>
  </tr>
  <tr class="fila1-3">
    <td >PC Gamer</td>
    <td >2</td>
    <td >$ 4.800.000</td>
  </tr>
</table>
<br>
<div class="contenedor11">
  <div class="header">
    <div class="logo">
       <img src="https://i.pinimg.com/736x/57/52/da/5752dae6cc7b47b418e4bb7cbac736ba.jpg" alt="logo" style="width:55px;height:50px;" >
    </div>
    <div class="titulo_centro">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Mac&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Ipad&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        iphone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Watch&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Airpods&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Tv y Casa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Entretenimiento&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Soporte&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     </p>
    </div>
    <div class = "buscador">
      <p>Buscador</p>
    </div>
  </div>
  <div class="side_bar">
    <h2>iPhone 16 Pro</h2>
    <p>El iPhone 16 Pro tiene un sofisticado diseño de titanio grado 5 con un nuevo acabado microarenado. Como el titanio es uno de los metales con mayor relación peso/dureza, este modelo es increíblemente resistente y liviano. 
        Además, viene en cuatro colores que se robarán todas las miradas, como el nuevo titanio del desierto.</p>
    <table class="tabla" border="1">
      <thead>
        <tr>
          <th>Productos</th>
          <th>Existencias</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Iphone 16</td>
          <td>1000</td>
          <td>$3.500.000</td>
        </tr>
        <tr>
          <td>Iphone 16 Plus</td>
          <td>1000</td>
          <td>$3.800.000</td>
        </tr>
        <tr>
          <td>Iphone 16 Pro</td>
          <td>1000</td>
          <td>$4.200.000</td>
        </tr>
        <tr>
          <td>Iphone 16 Pro Max</td>
          <td>1000</td>
          <td>$5.000.000</td>
        </tr>
      </tbody>
    </table>
    <p>Consigue el tuyo aqui :&nbsp;&nbsp;&nbsp;<a href="https://www.apple.com/co/iphone-16-pro/" target="_blank">Apple.com</a>&nbsp;&nbsp;&nbsp;<a href="https://www.amazon.com/" target="_blank">Amazon.com</a>&nbsp;&nbsp;&nbsp;<a href="https://www.mercadolibre.com.co/" target="_blank">MercadoLibre.com</a></p>
    </div>
  <div class="content">
    <img src="https://www.gbnews.com/media-library/animated-gif-showing-the-desert-titanium-iphone-16-pro-spinning.gif?id=53607883&width=1200&height=600&coordinates=0%2C25%2C0%2C25" alt="iphone 16" style="width:800px;height:490px;">
  </div>
  <div class="footer">
    <div class="footer_interno">
      <img src="https://www.apple.com/v/iphone-16-pro/a/images/overview/apple-intelligence/hero_apple_intelligence_headline__fwxxapju9a6i_large.png" alt="" style="width:80%;height:20px;">
      <p>
          El iPhone 16 Pro está hecho para disfrutar Apple Intelligence, un sistema de inteligencia personal que te ayuda a escribir, expresarte y hacer de todo con mucha facilidad.
      </p>
    </div>
    <div class="footer_interno">
      <img src="https://www.apple.com/v/iphone-16-pro/a/images/overview/product-stories/design/display__f5509jfp9nyq_xlarge.jpg" alt="" style="width:280px;height:160px;">
    </div>
    <div class="footer_interno">
      <img src="https://www.apple.com/co/iphone-16-pro/images/overview/product-stories/design/thin__eqeewfn1mgsy_xlarge.jpg" alt="" style="width:280px;height:160px;">
    </div>
    <div class="footer_interno">
      <img src="https://www.apple.com/v/iphone-16-pro/a/images/overview/product-stories/design/recycle__bjo9ezsrw6vm_xlarge.jpg" alt="" style="width:280px;height:160px;">
    </div>
    <div class="footer_interno">
      <img src="https://www.apple.com/v/iphone-16-pro/a/images/overview/product-stories/design/color__eaawe4bmivki_xlarge.jpg" alt="" style="width:280px;height:160px;">
    </div>
  </div>  
 

</div> 
</body>
</html>