<p-table [value]="products" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
    <!-- Paginator es por ejemplo que cada 10 registros agregue una pagina -->
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Precio de compra</th>
        <th>Cantidad</th>
        <th>Precio de venta</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-products>
      <tr>
         <!-- tr abre la fila /tr la cierra-->
          <!-- aqui mapeo id pero si nunca lo proceso en users en backend nunca se va a mostrar-->
        <td>{{ products.id }}</td>
        <td>{{ products.nameProduct }}</td>
        <td>{{ products.productPriceCompra }}</td>
        <td>{{ products.cantidad }}</td>
        <td>{{ products.productPriceVenta }}</td>
        <!-- Traer y mostrar el campo contraseña -->
        <td>
          <button pButton type="button" label="Editar" class="p-button-sm p-button-warning" (click)="onEdit(products)"></button>
          <!-- Cuando le de click se va a ir al metodo onEdit y se le pasa user -->
          <button pButton type="button" label="Eliminar" class="p-button-sm p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
