USE [db_Cpt]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/11/2024 11:35:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[User_Last_name] [varchar](50) NOT NULL,
	[User_Phone] [varchar](50) NOT NULL,
	[Manager_Name] [varchar](50) NOT NULL,
	[Manager_Email] [varchar](100) NOT NULL,
	[fecha_Inicio] [date] NOT NULL,
	[Fecha_Final] [date] NOT NULL,
	[Notas] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [UserName], [Email], [User_Last_name], [User_Phone], [Manager_Name], [Manager_Email], [fecha_Inicio], [Fecha_Final], [Notas]) VALUES (1, N'Fernando', N'fernandoguevara@udenar.edu.co', N'Guevara', N'3132452737', N'Fernandooo', N'fernandoguevara@udenar.edu.co', CAST(N'2024-11-06' AS Date), CAST(N'2024-11-22' AS Date), N'sdfsdf')
INSERT [dbo].[Users] ([id], [UserName], [Email], [User_Last_name], [User_Phone], [Manager_Name], [Manager_Email], [fecha_Inicio], [Fecha_Final], [Notas]) VALUES (2, N'Juan', N'fernando@gmail.com', N'Perez', N'3132452737', N'Eduard', N'fernandoguevara2003@gmail.com', CAST(N'2024-11-01' AS Date), CAST(N'2024-11-30' AS Date), N'hola amigos')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__29CF46DED217ED43]    Script Date: 15/11/2024 11:35:32 p. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[User_Last_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053418F6D84F]    Script Date: 15/11/2024 11:35:32 p. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

/*
								Respuesta a la pregunta:
	Cuando definimos las variables de tiempo como `VARCHAR`, los datos se almacenan 
	de manera incorrecta, generando formatos como `2024-11-22T05:00:00.000Z`. 
	Por esta razón, es más adecuado definir los datos de tiempo utilizando el 
	tipo de dato `DATE`, que garantiza un almacenamiento y manejo más preciso
	de la información temporal.

*/
